@media (prefers-color-scheme: light) {
    :root {
	--background-color: #111111;
	--softbox-color: #333333;
	--foreground-color: #f2f2f2;
	--link-color: cyan;
	--link-vis-color: cyan;
	--emph-color: #99ff99;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
	--background-color: #111111;
	--softbox-color: #333333;
	--foreground-color: #f2f2f2;
	--link-color: cyan;
	--link-vis-color: cyan;
	--emph-color: #99ff99;
    }
}

body {
    background: var(--background-color);
    color: var(--foreground-color);
    font-family: monospace;
    max-width: 100%;
}

a {
    color: var(--link-color);
}

.keepws {
    white-space: pre;
    font-size: 15px;
}

h1 {
  font-size: 45px;
}